{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Profile {% endblock %}
{% form_theme profileForm 'bootstrap_4_layout.html.twig' %}
{% block body %}

<div class="profile-wallpiper p-4">
    <div class="first-container container">
        <div class="row justify-content-center">
            <img class="rounded-circle border" src="{{asset('/storage/profiles/' ~ user.image)}}" style="width: 150px ;height: 150px" alt="Card image cap">
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-white">{{user.firstName}} {{user.lastName}}</h1>
                <div class="text-white"> {{user.email}}</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-12 col-md-4">
            <h2 class="text-center">Profaile Management</h2>
            <hr>
            <div class="card">    
                <div class="card-body">
                    {{ form_start(profileForm) }}
                    <div class="alert-danger">
                        {{ form_errors(profileForm) }}
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-sm-12 form-group">
                            {{ form_widget(profileForm, {'attr': {'type':'password'}}) }}
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-success btn-block" type="submit">Update</button>
                        </div>
                    </div>
                    {{ form_end(profileForm) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <h2 class="text-center">History</h2>
            <hr>
            <div class="card">    
                <div class="card-body">
                    {% include 'includes/participation-table-profile.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    


{% endblock %}
