{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Profile {% endblock %}
{% form_theme profileForm 'bootstrap_4_layout.html.twig' %}
{% block body %}

<div class="profile-wallpiper p-4">
    <div class="first-container container text-center">
        <div class="row justify-content-center">
            <div class="col-12" style="max-height: 160px;">
                <img class="rounded-circle img-thumbnail" src="{{asset('/storage/profiles/' ~ user.image)}}" style="width: 150px ;height: 150px" alt="Responsive Image">
                <form id="uploadImageForm" method="POST" action="{{path('profile.upload', {'id' : user.id})}}" enctype="multipart/form-data">
                    <div class="form-row justify-content-center m-0">
                       <div class="col-sm-6 form-group">
                           <label for="image" class="btn btn-success rounded-pill border border-white" style="cursor: pointer;">
                               <i class="fas fa-camera"></i>
                               <input type="file" id="image" style="display: none; width: 10px; cursor: pointer;" name="user_image"/>
                           </label>
                          
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <button class="btn btn-light btn-sm rounded-pill text-success" id="saveImage" style="display: none;" >Save</button>
            </div>
            <div class="col-12">
                <h1 class="text-white">{{user.firstName}} {{user.lastName}}</h1>
                <div class="text-white"> {{user.email}}</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-12 col-md-4">
            {% if app.user.id == user.id %}
                <h2 class="text-center">Profile Management</h2>
            {% else %}
            <h2 class="text-center">Public Informations</h2>
            {% endif %}
            <hr>
            <div class="card">    
                <div class="card-body">
                {% if app.user.id == user.id %}
                    {{ form_start(profileForm) }}
                    <div class="alert-danger">
                        {{ form_errors(profileForm) }}
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-sm-12 form-group">
                            {{ form_widget(profileForm, {'attr': {'type':'password'}}) }}
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-success btn-block" type="submit">Update</button>
                        </div>
                    </div>
                    {{ form_end(profileForm) }}
                {% else %}
                    <div class="container">
                        <div class="row justify-content-start">
                            <h5 class="mb-3"> <i class="fas fa-user-circle"></i> Name <span class="lead">{{user.firstName}} {{user.lastName}}</span></h5>
                            <h5 class="mb-3"> <i class="fas fa-envelope"></i> Email <span class="lead">{{user.email}}</span></h5>
                            <h5 class="mb-3"> <i class="fas fa-calendar-day"></i> Birthdate <span class="lead">{{user.birthdate|date('Y-m-d')}}</span></h5>
                            <h5 class="mb-3"> <i class="fas fa-calendar-day"></i> Registration date <span class="lead">{{user.registrationDate|date('Y-m-d')}}</span></h5>
                        </div>
                    </div>
                   {% endif %}
                </div>
            </div>
            {% if app.user.id == user.id %}
                <div class="card my-3">
                    <div class="m-3">
                        <h2>Unpublished Events</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">created At</th>
                                    <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in unpublishedEvents %}
                                    <tr>
                                        <td>{{ loop.index}}</td>
                                        <td class="text-truncate">{{ event.title}}</td>
                                        <td><p class="lead">{{ event.createdAt|date('Y-m-d')}}</p></td>
                                        <td>
                                            <a class="btn btn-success btn-sm" href="{{path('event', {id:event.id})}}"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-8">
            <h2 class="text-center">History</h2>
            <hr>
            <div class="card">    
                <div class="card-body">
                    {% include 'includes/participation-table-profile.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
