{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/tagin.min.css')}}" />
{% endblock %}

{% block body %}

<div class="first-container container-fluid mb-5">
    <toast> </toast>
    <div class="row">
        <div class="col-sm-12 col-md-5 offset-md-3">
            <div class="card p-3">
                <div class="row">
                    <div class="col-2"><img src="{{ asset('build/images/EventLogo.svg') }}" alt="{{ app_name }}"/></div>
                    <div class="col-9">
                        <button type="button" class="btn btn-block btn-light rounded-pill text-left p-3" data-toggle="modal" data-target="#createEventForm">
                            Create you event
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-btween text-center">
                    <div class="col-4"><i class="fas fa-images fa-lg yellow"></i></div>
                    <div class="col-4"><i class="fas fa-map-marked-alt fa-lg blue"></i></div>
                    <div class="col-4"><i class="fas fa-calendar-week fa-lg green"></i></div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="modal fade" id="createEventForm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <eventcreator csrf={{csrf_token('authenticate')}} createEventUrl={{path('create_event')}}> </eventcreator>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3">
            <div class="card p-3 fixed text-center">
                <img class="rounded-circle" style="height: 100px; width: 100px; margin: auto;" src="{{asset('storage/profiles/' ~ app.user.image)}}"/>
                <p class="lead font-weight-bold">{{app.user.firstName}} {{app.user.lastName}} </p>
                <p class="text-muted"> {{app.user.email}} </p>
                <a class="btn btn-success rounded-pill mb-1">Profile</a>
                <a href="#" class="btn btn-outline-success rounded-pill">Concerned Events</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            {# Event displayer #}
            <events eventsUrl={{path('fetch_events')}} 
                    filterEventUrl={{path('event_filter')}} 
                    userImages={{asset('storage/profiles')}} 
                    eventCovers={{asset('storage/events')}}>
            </events>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/tagin.min.js')}}" defer></script>
    {{parent()}}
{% endblock %}