{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{event.object.title}} {% endblock %}

{% block body %}
    <div class="container" style="padding-top: 100px;"></div>

    <div class="card">

        <div class="card-header">
            <h1>{{event.object.title}}</h1>
            {% include 'includes/rating.html.twig' %}
            <div class="row">
                <div class="col-4"> <a href="{{ path("event.participate",{"id":event.object.id,"participationType":"Going"}) }}" class="btn btn-secondary">Going ({{ event.goingNumber }})</a> </div>
                <div class="col-4"> <a href="{{ path("event.participate",{"id":event.object.id,"participationType":"Interested"}) }}" class="btn btn-secondary">Interested ({{ event.interestedNumber }})</a> </div>
                <div class="col-4"> <a href="{{ path("event.participate",{"id":event.object.id,"participationType":"Like"}) }}" class="btn btn-primary"><i class="fas fa-heart"></i>Like ({{ event.likeNumber }})</a> </div>
            </div>
        </div>

        <img class="card-img-top" src='/storage/events/{% if event.object.coverImage != "default.png" %}{{ event.object.coverImage }}{% else %}default.png{% endif %}'/>

        <div class="card-body">
            <h3>{{ event.object.owner.firstName }} {{ event.object.owner.lastName }}</h3>
            <div>{{ event.object.startDate|date('Y-m-d') }} to {{ event.object.endDate|date('Y-m-d') }}</div>

            {% if event.owner == true %}<a class="btn-info btn" href="{{ path("event.edit",{"id":event.object.id}) }}">Edit</a>{% endif %}

        </div>
    </div>

    {% include 'includes/participation-table-event.html.twig' %}

{% endblock %}
