<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}"><img src="{{ asset('build/images/EventLogo.svg') }}" alt="{{ app_name }}" class="brand"/>{{ app_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropEvent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Event
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropEvent">
                        <a class="dropdown-item" href="{{path('events')}}">Discover events</a>
                        <a class="dropdown-item" href="#">New event</a>
                    </div>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('register')}}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-success text-white" href="{{ path('app_login') }}">Sign In</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle border-success userImage" src="{{asset('storage/profiles/' ~ app.user.image)}}" alt="{{app.user.lastName}} profile image" /> {{app.user.firstName}} {{app.user.lastName}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropProfile">
                        <a class="dropdown-item" href="#">View Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        {% if app.user %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
